@page "/tables/datatables/child-rows"
@model Inspinia.Pages.Tables.Datatables.ChildRowsModel


@{
    ViewBag.title = "Child Row";
    ViewBag.subtitle = "DataTables";
}


@section Styles {
    <link href="/plugins/datatables/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
}


<!-- Begin page -->
<div class="wrapper">
            @await Html.PartialAsync("~/Pages/Shared/Partials/_Topbar.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_Sidenav.cshtml")

            <!-- ============================================================== -->
<!-- Start Main Content -->
<!-- ============================================================== -->
<div class="content-page">
<div class="container-fluid">
                    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

                    <div class="row justify-content-center">
<div class="col-xxl-10">
<div class="card">
<div class="card-header justify-content-between">
<h4 class="card-title">Example</h4>
<a class="icon-link icon-link-hover link-primary fw-semibold" href="https://datatables.net/examples/api/row_details.html" target="_blank">
                                        View Docs
                                        <i class="ti ti-arrow-right bi align-middle fs-lg"></i>
</a>
</div>
<div class="card-body">
<table class="table table-striped dt-responsive align-middle mb-0" id="child-rows-data">
<thead class="thead-sm text-uppercase fs-xxs">
<tr>
<th></th>
<th>Company</th>
<th>Symbol</th>
<th>Price</th>
<th>Change</th>
<th>Volume</th>
<th>Market Cap</th>
</tr>
</thead>
</table>
</div>
<!-- end card-body-->
</div>
<!-- end card-->
</div>
</div>
</div>
<!-- container -->

                @await Html.PartialAsync("~/Pages/Shared/Partials/_Footer.cshtml")
            </div>
<!-- ============================================================== -->
<!-- End of Main Content -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->

        @await Html.PartialAsync("~/Pages/Shared/Partials/_Customizer.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_FooterScripts.cshtml")

        <!-- Jquery for Datatables-->

<!-- Datatables js -->




<!-- Page js -->



@section Scripts {
<script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/datatables/dataTables.min.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap5.min.js"></script>
    <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables/responsive.bootstrap5.min.js"></script>
    <script src="/js/pages/datatables-child-rows.js"></script>
}
