@page "/layouts/compact"
@model Starterkit.Pages.Layouts.CompactModel


@{
    ViewBag.title = "Compact";
    ViewBag.subtitle = "Layouts";
}


@section Styles {

}


<!-- Begin page -->
<div class="wrapper">
            @await Html.PartialAsync("~/Pages/Shared/Partials/_Topbar.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_Sidenav.cshtml")

            <!-- ============================================================== -->
<!-- Start Main Content -->
<!-- ============================================================== -->
<div class="content-page">
<div class="container-fluid">@await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")</div>
<!-- container -->
<div class="container-xl">
<div class="row">
<div class="col-12">
<div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
<i class="ti ti-info-circle fs-xxl"></i>
<div>
                                    To use the compact layout, follow this structure: wrap your page title in
                                    <code>&lt;div class="container-fluid"&gt;</code>
                                    and place your main content inside
                                    <code>&lt;div class="container-xl"&gt;</code>
                                    . This ensures proper spacing and alignment.
                                </div>
</div>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-body text-center">
<h4 class="m-0">Your custom content here</h4>
</div>
<!-- end card-body-->
</div>
<!-- end card-->
</div>
<!-- end col-->
</div>
<!-- end row-->
</div>

                @await Html.PartialAsync("~/Pages/Shared/Partials/_Footer.cshtml")
            </div>
<!-- ============================================================== -->
<!-- End of Main Content -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->

        @await Html.PartialAsync("~/Pages/Shared/Partials/_Customizer.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_FooterScripts.cshtml")
    

@section Scripts {

}
