@page "/layouts/boxed"
@model Inspinia.Pages.Layouts.BoxedModel


@{
    ViewBag.title = "Boxed";
    ViewBag.subtitle = "Layouts";
    ViewBag.HTMLAttributes = "data-layout-width=boxed data-sidenav-size=on-hover";
}


@section Styles {

}


<!-- Begin page -->
<div class="wrapper">
            @await Html.PartialAsync("~/Pages/Shared/Partials/_Topbar.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_Sidenav.cshtml")

            <!-- ============================================================== -->
<!-- Start Main Content -->
<!-- ============================================================== -->
<div class="content-page">
<div class="container-fluid">
                    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

                    <div class="row">
<div class="col-12">
<div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
<i class="ti ti-info-circle fs-xxl"></i>
<div>
                                    To enable the boxed layout, add
                                    <code>data-layout-width="boxed"</code>
                                    to the
                                    <code>&lt;html&gt;</code>
                                    tag. For optimal spacing and usability, we also recommend adding
                                    <code>data-sidenav-size="on-hover"</code>
                                    to make the sidebar compact while keeping more room for content.
                                </div>
</div>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-body text-center">
<h4 class="m-0">Your custom content here</h4>
</div>
<!-- end card-body-->
</div>
<!-- end card-->
</div>
<!-- end col-->
</div>
<!-- end row-->
</div>
<!-- container -->

                @await Html.PartialAsync("~/Pages/Shared/Partials/_Footer.cshtml")
            </div>
<!-- ============================================================== -->
<!-- End of Main Content -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->

        @await Html.PartialAsync("~/Pages/Shared/Partials/_Customizer.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_FooterScripts.cshtml")
    

@section Scripts {

}
