<div class="sidenav-menu">
<!-- Brand Logo -->
<a class="logo" href="/">
<span class="logo logo-light">
<span class="logo-lg"><img alt="logo" src="/images/logo.png"/></span>
<span class="logo-sm"><img alt="small logo" src="/images/logo-sm.png"/></span>
</span>
<span class="logo logo-dark">
<span class="logo-lg"><img alt="dark logo" src="/images/logo-black.png"/></span>
<span class="logo-sm"><img alt="small logo" src="/images/logo-sm.png"/></span>
</span>
</a>
<!-- Sidebar Hover Menu Toggle Button -->
<button class="button-on-hover">
<span class="btn-on-hover-icon"></span>
</button>
<!-- Full Sidebar Menu Close Button -->
<button class="button-close-offcanvas">
<i class="ti ti-menu-4 align-middle"></i>
</button>
<div class="scrollbar" data-simplebar="">
<!--- Sidenav Menu -->
<div id="sidenav-menu">
<ul class="side-nav">
<li class="side-nav-item">
<a class="side-nav-link" href="/">
<span class="menu-icon"><i class="ti ti-home"></i></span>
<span class="menu-text">Home</span>
</a>
</li>
</ul>
</div>
</div>
</div>
<!-- Sidenav Menu End -->
