@{
    var title = ViewBag.title;
}
<meta charset="utf-8"/>
<title>@(title != null ? title + " | " : "")SGV</title>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="SGV - Sistema de Gestion de Vacantes" name="description"/>
<!-- App favicon -->
<link href="/images/favicon.ico" rel="shortcut icon"/>
