@page "/auth-split/success-mail"
@model Starterkit.Pages.Authsplit.SuccessMailModel


@{
    ViewBag.title = "Success Mail";
}


@section Styles {

}


<div class="auth-box p-0 w-100">
<div class="row w-100 g-0">
<div class="col">
<div class="h-100 position-relative card-side-img rounded-0 overflow-hidden" style='background-image: url(/images/auth.jpg)'>
<div class="p-4 card-img-overlay auth-overlay d-flex align-items-end justify-content-center"></div>
</div>
</div>
<div class="col-xl-auto">
<!--Auth Box content -->
<div class="card auth-box-form border-0 mb-0">
<div class="card-body min-vh-100 d-flex flex-column justify-content-center">
<div class="auth-brand mb-0 text-center">
<a class="logo-dark" href="/">
<img alt="dark logo" src="/images/logo-black.png"/>
</a>
<a class="logo-light" href="/">
<img alt="logo" src="/images/logo.png"/>
</a>
</div>
<div class="mt-auto text-center">
<form>
<div class="mb-4">
<div class="avatar-xxl mx-auto mt-2">
<div class="avatar-title bg-light-subtle border border-light border-dashed rounded-circle">
<img alt="dark logo" height="64" src="/images/checkmark.png"/>
</div>
</div>
</div>
<h4 class="fw-bold text-center mb-4">Well Done! Email verified Successfully</h4>
<div class="d-grid">
<button class="btn btn-primary fw-semibold py-2" type="submit">Bake to Dashboard</button>
</div>
</form>
</div>
<p class="text-muted text-center mt-4 mb-0">
                                Return to
                                <a class="text-decoration-underline link-offset-3 fw-semibold" href="/auth-split/sign-in">Sign in</a>
</p>
<p class="text-center text-muted mt-auto mb-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                Inspinia — by
                                <span class="fw-bold">WebAppLayers</span>
</p>
</div>
</div>
<!-- End Auth Box Content -->
</div>
</div>
</div>

        @await Html.PartialAsync("~/Pages/Shared/Partials/_FooterScripts.cshtml")
    

@section Scripts {

}
