@page "/plugins/pass-meter"
@model Inspinia.Pages.Plugins.PassMeterModel


@{
    ViewBag.title = "Password Meter";
    ViewBag.subtitle = "Plugins";
}


@section Styles {

}


<!-- Begin page -->
<div class="wrapper">
            @await Html.PartialAsync("~/Pages/Shared/Partials/_Topbar.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_Sidenav.cshtml")

            <!-- ============================================================== -->
<!-- Start Main Content -->
<!-- ============================================================== -->
<div class="content-page">
<div class="container-fluid">
                    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

                    <div class="container">
<div class="row">
<div class="col-lg-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Progress Bar</h4>
<div class="card-action">
<a class="card-action-item" data-action="card-toggle" href="/#!">
<i class="ti ti-chevron-up align-middle"></i>
</a>
<a class="card-action-item" data-action="code-collapse" href="/#!">
<i class="ti ti-code align-middle"></i>
</a>
</div>
</div>
<!-- end card header -->
<div class="code-body">
<pre>
                                        <code class="language-markup">
                                            &lt;!-- HTML --&gt;
                                            &lt;input type="password" class="form-control mb-2" placeholder="Password" /&gt;

                                            &lt;div class="password-bar mb-2"&lt;/div&gt;

                                            &lt;!-- Find Javascript in File: assets/js/pages/misc-pass-meter.js --&gt;
                                        </code>
                                    </pre>
<!-- end highlight-->
</div>
<!-- end preview code-->
<div class="card-body">
<!-- HTML -->
<input class="form-control mb-2" placeholder="Password" type="password"/>
<div class="password-bar mb-2"></div>
<p class="text-muted fs-xs mb-0">Use 8 or more characters with a mix of letters, numbers &amp; symbols.</p>
</div>
</div>
<!-- end card-body -->
</div>
<!-- end card -->
<div class="col-lg-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Password Condition</h4>
<div class="card-action">
<a class="card-action-item" data-action="card-toggle" href="/#!">
<i class="ti ti-chevron-up align-middle"></i>
</a>
<a class="card-action-item" data-action="code-collapse" href="/#!">
<i class="ti ti-code align-middle"></i>
</a>
</div>
</div>
<!-- end card header -->
<div class="code-body">
<pre>
                                        <code class="language-markup">
                                            &lt;!-- HTML --&gt;
                                            &lt;div&gt;
                                                &lt;label class="form-label" for="password-input"&gt;Magic Password ✨ (Click Here)&lt;/label&gt;
                                                &lt;input type="password" class="form-control" placeholder="Enter password" id="password-input" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"&gt;

                                                &lt;div class="form-text"&gt;Use 8 or more characters with a mix of letters, numbers &amp; symbols.&lt;/div&gt;

                                                &lt;div class="password-box collapse bg-light-subtle border border-light mt-2 rounded"&gt;
                                                    &lt;div class="p-3"&gt;
                                                        &lt;h5 class="fs-sm mb-2"&gt;Password Recipe:&lt;/h5&gt;
                                                        &lt;p id="pass-length" class="invalid fs-xs mb-2"&gt;Minimum &lt;b&gt;8 characters&lt;/b&gt;&lt;/p&gt;
                                                        &lt;p id="pass-lower" class="invalid fs-xs mb-2"&gt;At &lt;b&gt;lowercase&lt;/b&gt; letter (a-z)&lt;/p&gt;
                                                        &lt;p id="pass-upper" class="invalid fs-xs mb-2"&gt;At least &lt;b&gt;uppercase&lt;/b&gt; letter (A-Z)&lt;/p&gt;
                                                        &lt;p id="pass-number" class="invalid fs-xs mb-0"&gt;A least &lt;b&gt;number&lt;/b&gt; (0-9)&lt;/p&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;

                                            &lt;!-- Find Javascript in File: assets/js/pages/misc-pass-meter.js --&gt;
                                        </code>
                                    </pre>
<!-- end highlight-->
</div>
<!-- end preview code-->
<div class="card-body">
<!-- HTML -->
<div>
<label class="form-label" for="password-input">Magic Password ✨ (Click Here)</label>
<input class="form-control" id="password-input" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter password" type="password"/>
<div class="form-text">Use 8 or more characters with a mix of letters, numbers &amp; symbols.</div>
<div class="password-box collapse bg-light-subtle border border-light mt-2 rounded">
<div class="p-3">
<h5 class="fs-sm mb-2">Password Recipe:</h5>
<p class="invalid fs-xs mb-2" id="pass-length">
                                                        Minimum
                                                        <b>8 characters</b>
</p>
<p class="invalid fs-xs mb-2" id="pass-lower">
                                                        At
                                                        <b>lowercase</b>
                                                        letter (a-z)
                                                    </p>
<p class="invalid fs-xs mb-2" id="pass-upper">
                                                        At least
                                                        <b>uppercase</b>
                                                        letter (A-Z)
                                                    </p>
<p class="invalid fs-xs mb-0" id="pass-number">
                                                        A least
                                                        <b>number</b>
                                                        (0-9)
                                                    </p>
</div>
</div>
</div>
</div>
</div>
<!-- end card -->
</div>
<!-- end col -->
</div>
<!-- end row -->
</div>
<!-- end Container -->
</div>
<!-- end container-fluid-->

                @await Html.PartialAsync("~/Pages/Shared/Partials/_Footer.cshtml")
            </div>
<!-- ============================================================== -->
<!-- End of Main Content -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->

        @await Html.PartialAsync("~/Pages/Shared/Partials/_Customizer.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_FooterScripts.cshtml")

        



@section Scripts {
<script src="/js/pages/plugins-pass-meter.js"></script>
    <script></script>
}
