@page "/plugins/text-diff"
@model Inspinia.Pages.Plugins.TextDiffModel


@{
    ViewBag.title = "Text Diff";
    ViewBag.subtitle = "Plugins";
}


@section Styles {

}


<!-- Begin page -->
<div class="wrapper">
            @await Html.PartialAsync("~/Pages/Shared/Partials/_Topbar.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_Sidenav.cshtml")

            <!-- ============================================================== -->
<!-- Start Main Content -->
<!-- ============================================================== -->
<div class="content-page">
<div class="container-fluid">
                    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

                    <div class="card">
<div class="card-header">
<h4 class="card-title">jsdiff</h4>
<div class="card-action">
<a class="card-action-item" data-action="card-toggle" href="/#!">
<i class="ti ti-chevron-up align-middle"></i>
</a>
<a class="card-action-item" data-action="code-collapse" href="/#!">
<i class="ti ti-code align-middle"></i>
</a>
</div>
</div>
<!-- end card-header -->
<div class="code-body">
<pre>
                           <code class="language-markup">
                            &lt;div class="row"&gt;
                                &lt;div class="col-md-4"&gt;
                                    &lt;h4 class="mb-2"&gt;Original text&lt;/h4&gt;
                                    &lt;textarea class="diff-original form-control" rows="8"&gt;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1800s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only centuries, but also the leap into electronic typesetting.
                                    &lt;/textarea&gt;
                                &lt;/div&gt;

                                &lt;div class="col-md-4"&gt;
                                    &lt;h4 class="mb-2"&gt;Changed text&lt;/h4&gt;
                                    &lt;textarea class="diff-changed form-control" rows="8"&gt;Lorem Ipsum is simply typesetting dummy text of the printing and has been the industry's typesetting. Lorem Ipsum has been the industry's standard dummy text ever the 1800s, when an printer took a galley of type and simply it to make a type. It has survived not only five centuries, but survived not also the leap into electronic typesetting.&lt;/textarea&gt;
                                &lt;/div&gt;
                                &lt;div class="col-md-4"&gt;
                                    &lt;h4 class="mb-2"&gt;Diff results&lt;/h4&gt;
                                    &lt;div class="diff-output diff"&gt;&lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;!-- Find Javascript in File: assets/js/pages/plugins-text-diff.js --&gt;

                            &lt;!-- Check Docs here:https://github.com/kpdecker/jsdiff --&gt;
                           </code>
                        </pre>
</div>
<!-- end code view -->
<div class="card-body">
<div class="row">
<div class="col-md-6">
<h5 class="mb-2 text-uppercase">Original Text</h5>
<textarea class="diff-original form-control" rows="8">
On a rainy Monday morning in a small town, Emma walked into her favorite café, her umbrella dripping and her hair slightly frizzy from the storm. She always ordered the same thing: black coffee, two sugars, and a blueberry muffin. But today, someone was already sitting at her usual table by the window. It was Jack — a quiet man with a book in hand and headphones around his neck. Their eyes met for a second. He smiled and motioned for her to join him. Hesitant but intrigued, Emma accepted.
                                </textarea>
</div>
<!-- end col -->
<div class="col-md-6">
<h5 class="mb-2 text-uppercase">Changed Text</h5>
<textarea class="diff-changed form-control" rows="8">
On a rainy Monday morning in a small town, Emma stepped into her favorite café, her umbrella dripping and her hair slightly frizzy from the damp weather. She always ordered the same thing: black coffee with two sugars and a blueberry muffin. But today, someone was already seated at her usual window table. It was Jack — a quiet man with a book in one hand and headphones resting around his neck. Their eyes met briefly. He smiled and gestured for her to join him. Hesitant but curious, Emma agreed.</textarea>
</div>
<!-- end col -->
<div class="col-md-12">
<h5 class="mb-2 mt-3 text-uppercase">Results</h5>
<div class="p-3 bg-light-subtle border border-dashed rounded lh-lg">
<div class="diff-output diff"></div>
</div>
</div>
<!-- end col -->
</div>
<!-- end row -->
</div>
<!-- end card-body -->
</div>
<!-- end card -->
</div>

                @await Html.PartialAsync("~/Pages/Shared/Partials/_Footer.cshtml")
            </div>
<!-- ============================================================== -->
<!-- End of Main Content -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->

        @await Html.PartialAsync("~/Pages/Shared/Partials/_Customizer.cshtml") @await Html.PartialAsync("~/Pages/Shared/Partials/_FooterScripts.cshtml")

        <!-- Diff Plugin Js-->

<!-- Text Diff Page Js-->



@section Scripts {
<script src="/plugins/diff/diff.min.js"></script>
    <script src="/js/pages/plugins-text-diff.js"></script>
}
